---
import ResponsiveHeader from "../components/header.astro";

const { title, ogImage } = Astro.props;
const { pathname } = Astro.url;
const isHomePage = pathname === "/";
let pageTitle;
if (isHomePage || !title) {
  pageTitle = "HHAckerman";
} else {
  pageTitle = `HHAckerman: ${title}`;
}
const ogTitle = title || "HHAckerman";

// Set default OG image - for Apple Messages preview
// Note that this image must be in the public directory
const defaultOgImage = "/images/hha.png";
const finalOgImage = ogImage || defaultOgImage;

// Make absolute URL for OG image
// Use actual host (hhackerman.com if production, localhost if dev)
const absoluteOgImage = finalOgImage.startsWith("http")
  ? finalOgImage
  : new URL(finalOgImage, Astro.request.url).href;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="The personal webpage of Hamilton Hoxie Ackerman."
    />
    <meta name="generator" content={Astro.generator} />

    <meta property="og:title" content={ogTitle} />
    <meta property="og:image" content={absoluteOgImage} />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <!-- Apple Specific OG Image Tags -->
    <meta name="apple-mobile-web-app-title" content={ogTitle} />
    <link rel="apple-touch-icon" href={absoluteOgImage} />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <title>{pageTitle}</title>
  </head>

  <body class="px-8 py-10 leading-tight antialiased">
    <ResponsiveHeader />
    <main class="prose prose-a:hover:bold">
      <slot />
    </main>
  </body>
</html>

<style>
  main {
    max-width: 60ch;
  }
</style>
